@CHARSET "UTF-8";

/*
positionについて 周知後消します
fixed
・画面幅基準で固定されるようで、画面幅を超えた要素は画面を広げない限り見えません。
・コンテンツにheaderの高さぶんの余白を入れる必要があります。
sticky
・画面幅にはとらわれません。スクロールしていったらある地点からは固定みたいな感じで使われます。
・headerの高さはコンテンツに影響しません（余白不要）。
*/

header {
/* 	position:fixed; */
 	position: -webkit-sticky; /* Safari */
	position: sticky;
	top:0;
	width : 100%;
	min-width: 1000px;
	height : 80px;
	background-color : #9b5d73;
	z-index: 10;

}

#header-contents {
	width: 90%;
	margin: auto;
}

#header-title {
	float : left;
    line-height: 80px;
	width : 100px;
/* 	font-family: 'Vidaloka', serif; */
	font-family: Century Gothic;
	color:#ffffff;
	font-size:20px;
}

#header-menu {
	float : left;
	width : calc(100% - 100px);
	line-height: 80px;

}

.header-list {
	float : left;
	width : 100%;
}

.header-list li{
	float : left;
	padding-left : 1vw;
	color : white;
	font-size : 12px;
	display: box;
}

.search-keywords {
	border-radius: 100px;
	padding-left: 5px;
	border: 2px solid #b0757c;
	width: 120px;
	height: 25px;
}

.search-keywords:focus {
	border: 2px solid #ff9900;
	outline: 0;
}

.header_btn {
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 100px;
    border: 1px solid #ccc;
    width: 95px;
    height: 35px;
    font-size: 12px;
    font-weight: 600;
    font-family: "ヒラギノ角ゴ Pro W4","ヒラギノ角ゴ Pro" ;
    text-align: center;
    color: #332600;
    background-color: #fff1c5;
    box-shadow: 2px 2px #332600;
    padding-bottom: 2px;
}

.header_btn:hover {
	color: #fff;
	background-color: rgba(255,214,91,0.8);
	cursor: pointer;
}

.header_btn:active {
	background-color: #ffd65b;
}

.clear {
	clear: both;
}