@CHARSET "UTF-8";
/*login.jsp*/

.inputform{
	width: 100%;
	font-weight: 400;
	vertical-align: top;
	border-right: 1px solid #9b5d73;
	border-bottom:1px solid #9b5d73;
	border-top: 1px solid #9b5d73;
	border-left:1px solid #9b5d73;
	background: #9b5d73;
	color:#9b5d73;
}

.inputform th{
	width: 25%;
	padding: 10px;
	font-weight: 400;
	vertical-align: top;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	border-left: 1px solid white;
	background-color: #c38b8b;
}

.inputform td{
	width: 75%;
	padding: 10px;
	vertical-align: top;
	border-right: 1px slid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: white;
}

.inputform, th, td{
	margin-bottom: 10px;
	border-collapse: collapse;
	border: 1px solid #ccc;
	line-height: 1.5;
}

.txt{
	width: 99%;
	height: 30px;
	border: 0.5px solid #999;
	font-size: 24px;
}