@CHARSET "UTF-8";


.error{
	width: 90%;
}
.table{
	padding: 0px 50px 50px 0px;
}

table{
	width: 100%;
}
table tr td{
	padding: 10px;
	width: 70%;
}
table tr td:first-child{
	background-color: #c38b8b;
	color: #fff;
	width: 30%;
}


.textarea{
	font-size: 24px;
}

input[type="text"]:focus {
  border: 1px solid #ff9900;
  outline: 0;
}
input[type="password"]:focus {
  border: 1px solid #ff9900;
  outline: 0;
}

.submit_btn_box .submit_btn{
	width: 110px;
}

p {
	text-align: center;
	padding-top: 50px;
}





