@CHARSET "UTF-8";

/*エラーメッセージ枠の大きさ*/
.error{
	width: 90%;
}

/*テーブル関係
 *入力時に欄がオレンジになる*/
table{
	width: 100%;
	margin-bottom: 30px;
}
table tr td{
	padding: 10px;
}
table tr td:first-child{
	background-color: #c38b8b;
	color: #fff;
	font-size: 20px;
	width: 32%;
}
.table{
	margin: 30px;
}
.textarea{
	font-size: 20px;
	width: 100%;
}
input[type="text"]:focus {
  border: 1px solid #ff9900;
  outline: 0;
}
input[type="password"]:focus {
  border: 1px solid #ff9900;
  outline: 0;
}

/*最後の完了画面のテキスト*/
p {
	text-align: center;
	padding-top: 50px;
}