@CHARSET "UTF-8";


/*エラーメッセージ枠の大きさ*/
.error{
	width: 90%;
}


/*テーブル関係
 *入力時に欄がオレンジになる*/
table{
	width: 100%;
}
table tr td{
	padding: 10px;
}
table tr td:first-child{
	background-color: #c38b8b;
	color: #fff;
	width: 30%;
}
.textarea{
	font-size: 24px;
}
input[type="text"]:focus {
  border: 1px solid #ff9900;
  outline: 0;
}
input[type="password"]:focus {
  border: 1px solid #ff9900;
  outline: 0;
}


/*ボタン関係*/
.submit_btn_box{
	padding: 50px;
}
.submit_btn_box .submit_btn{
	width: 110px;
}
.submit_btn_box2{
	text-align: center;
	margin: 10px;
	margin-left: -20px;
	margin-top: 20px;

}
.submit_btn_box2 .submit_btn{
	width: 110px;
}


/*最後の完了画面のテキスト*/
p {
	text-align: center;
	padding-top: 50px;
}


