@CHARSET "UTF-8";

.contents{
	margin-top:80px;

}

.submit_btn_box{
	clear:both;
}

table.horizontal-list-table{
	text-align:center;
	margin-bottom:2em;
	width:100%;

/* 	background-color:red; */
/* 	width: 90%; */
/* 	border-collapse: separate; */
/* 	border-spacing: 0; */
/* 	text-align: left; */
/* 	font-size: 1.4rem; */
/* 	line-height: 1.5; */
/* 	border-top: 1px solid #ccc; */
/* 	border-left: 1px solid #ccc; */
}

table.horizontal-list-table, th, td{

}

table.horizontal-list-table th{
	padding-top:0.5em;
	padding-bottom:0.5em;
	font-weight: bold;
}

table.horizontal-list-table td{
	padding-top:0.5em;
	padding-bottom:0.5em;
}


