@CHARSET "UTF-8";

/*====== リセットCSS ======*/
html, body, div, span, h1, p, a, img, ol, ul, li, form, label,
table, tbody, tfoot, thead, tr, th, td, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
/* ====== リセットCSS終了 ====== */

* {
	box-sizing: border-box;
}

body {
	font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	color: #333;
	background-color: #fff;
	width: 100%;
	min-width: 1000px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	border: 1px solid #DDD;
}

th {
	background-color: #c38b8b;
	border: 1px solid #DDD;
	color: #FFFFFF;
}

h1 {
	border-bottom: solid 2px #b0757c;
	border-top: solid 2px #b0757c;
	color: #b0757c;
	font-size: 32px;
	font-weight: bold;
	height: 60 px;
	line-height: 60px;
	margin-bottom: 30px;
}

#contents {
	width: 90%;
	margin: auto;
/* 	margin-top: 100px;  headerがfixedの時*/
	margin-top: 20px; /*headerがstickyの時*/
	margin-bottom: 150px;
}

/* メッセージ全般(エラー、選択要求、完了) */
.info, .error, .complete {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	border: 1px solid black;
	width: 100%;
}

/* 選択要求メッセージ */
.info {
	border: none;
	background-color: rgba(78,18,18,0.7);
	color: #fff;
}

/* エラーメッセージ */
.error {
	border-color: #c3100c;
	color: #c3100c;
}

/* 完了メッセージ */
.complete {
	border: none;
	background-color: #63b096;
	color: #fff;
}

/* ボタン */
.submit_btn_box {
	width: 100px;
	margin: 8px auto;
}

.submit_btn {
	padding: 0.5em 1em;
	text-decoration: none;
	border-radius: 100px;
	width: 100px;
	height: 35px;
	font-size: 10px;
	font-weight: 600;
	text-align: center;
	color: #4e120a;
	background-color: #fff1c5;
	border: 1px solid #fff;
	box-shadow:2px 2px #b0757c;
}

.submit_btn:hover {
	color: #fff;
	background-color: rgba(255,214,91,0.8);
	cursor: pointer;
}

.submit_btn:active {
	background-color: #ffd65b;
}

/*====== フッターのスタイル ======*/
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
/* 	min-width: 1000px; */
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #9b5d73;
	color: #fff;
}